name: Build Linux kits
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [main]

env:
  TCL_TK_VERSION: 8.6.17
  KC_TLS_LINKSSLSTATIC: 0  # Linux generally has OpenSSL installed
  STATICTK: 0
  STATICTKDND: 0
  STATICTKSVG: 0
  STATICTLS: 1
  STATICTDOM: 1
  STATICPARSE_ARGS: 1
  STATICTCLLIB: 1
  STATICMK4: 1
  STATICCFFI: 1
  KC_MK4TCL_CXXFLAGS: '-fPIC'
  CFLAGS:   '-DNDEBUG -O2 -fomit-frame-pointer -fstack-protector-strong -ffunction-sections -fdata-sections'
  CPPFLAGS: '-DNDEBUG -O2 -fomit-frame-pointer -fstack-protector-strong -ffunction-sections -fdata-sections'
  CXXFLAGS: '-DNDEBUG -O2 -fomit-frame-pointer -fstack-protector-strong -ffunction-sections -fdata-sections'
  KC_KITSH_LDFLAGS: '-Wl,--gc-sections'

jobs:
  build-linux-kits:
    runs-on: ${{ matrix.platform.runner }}

    strategy:
      matrix:
        platform:
          - arch:       x86_64
            pkg_prefix: amd64
            cross_pfx:  x86_64-linux-gnu
            host:       x86_64-pc-linux-gnu
            pcdir:      /usr/lib/x86_64-linux-gnu/pkgconfig
            runner:     ubuntu-22.04

          - arch:       aarch64
            pkg_prefix: arm64
            cross_pfx:  aarch64-linux-gnu
            host:       aarch64-generic-linux-gnu
            pcdir:      /usr/lib/aarch64-linux-gnu/pkgconfig
            runner:     ubuntu-22.04-arm

    env:
      arch:          ${{matrix.platform.arch}}
      pkg_prefix:    ${{matrix.platform.pkg_prefix}}
      suffix:        ${{matrix.platform.arch}}-linux-gnu
      KC_TLS_SSLDIR: ${{matrix.platform.pcdir}}
      CC:            ${{matrix.platform.cross_pfx}}-gcc
      CXX:           ${{matrix.platform.cross_pfx}}-g++
      AR:            ${{matrix.platform.cross_pfx}}-ar
      RANLIB:        ${{matrix.platform.cross_pfx}}-ranlib
      NM:            ${{matrix.platform.cross_pfx}}-nm
      STRIP:         ${{matrix.platform.cross_pfx}}-strip
      OBJCOPY:       ${{matrix.platform.cross_pfx}}-objcopy
      HOST:          ${{matrix.platform.host}}

    steps:
      - uses: actions/checkout@v4

      - name: Setup dependencies
        run: |
          sudo dpkg --add-architecture ${{env.pkg_prefix}}

          # Add arch-specific repositories for non-amd64 architectures
          cat << EOF | sudo tee /etc/apt/sources.list.d/${{ env.pkg_prefix }}-ports.list
          deb [arch=${{ env.pkg_prefix }}] http://ports.ubuntu.com/ubuntu-ports/ jammy main universe restricted
          deb [arch=${{ env.pkg_prefix }}] http://ports.ubuntu.com/ubuntu-ports/ jammy-updates main universe restricted
          deb [arch=${{ env.pkg_prefix }}] http://ports.ubuntu.com/ubuntu-ports/ jammy-security main universe restricted
          deb [arch=${{ env.pkg_prefix }}] http://ports.ubuntu.com/ubuntu-ports/ jammy-backports main universe restricted
          EOF

          sudo apt-get update || true ;# Prevent failure due to missing URLs

          sudo apt-get install -y --no-install-recommends \
                  build-essential \
                  crossbuild-essential-${{env.pkg_prefix}} \
                  autoconf \
                  libx11-dev:${{env.pkg_prefix}} \
                  libxcursor-dev:${{env.pkg_prefix}} \
                  libssl-dev:${{env.pkg_prefix}} \
                  uuid-dev:${{env.pkg_prefix}}   \
                  libffi-dev:${{env.pkg_prefix}}

          export PKG_CONFIG_PATH=""
          export PKG_CONFIG_LIBDIR="${{matrix.platform.pcdir}}"
          echo "LIBFFI_CFLAGS=$(pkg-config --cflags libffi)" >> "$GITHUB_ENV"
          echo "LIBFFI_LIBS=$(pkg-config --libs libffi)" >> "$GITHUB_ENV"

      - name: Base kit
        env:
          KITCREATOR_PKGS: mk4tcl
          CC:  ${{matrix.platform.cross_pfx}}-gcc
          CXX: ${{matrix.platform.cross_pfx}}-g++
          AR:  ${{matrix.platform.cross_pfx}}-ar
          RANLIB: ${{matrix.platform.cross_pfx}}-ranlib
          NM:     ${{matrix.platform.cross_pfx}}-nm
          STRIP:  ${{matrix.platform.cross_pfx}}-strip
        run: |
          ./build/pre.sh
          ./kitcreator build ${{env.TCL_TK_VERSION}}
          mv tclkit-${{env.TCL_TK_VERSION}} tclkitsh-${{env.TCL_TK_VERSION}}-${{env.arch}}-base
          cat <<EOF > $GITHUB_ENV
          TCLKIT=$(pwd)/tclkitsh-${{env.TCL_TK_VERSION}}-${{env.arch}}-base
          TCLSH_NATIVE=$(pwd)/tclkitsh-${{env.TCL_TK_VERSION}}-${{env.arch}}-base
          EOF

      - name: Standard kit (No GUI)
        run: |
          export KITCREATOR_PKGS="$(awk '{printf "%s ", $0}' .github/workflows/pkgs-nogui.txt)"
          ./kitcreator clean
          ./kitcreator build ${{env.TCL_TK_VERSION}} --host=${{ env.HOST }} --enable-64bit --enable-tcl-private-headers --enable-kit-storage=cvfs --with-compressed-cvfs
          mv tclkit-${{env.TCL_TK_VERSION}} tclkitsh-${{env.TCL_TK_VERSION}}-${{env.suffix}}
          echo "$KITCREATOR_PKGS" > tclkitsh-${{env.TCL_TK_VERSION}}-${{env.suffix}}.kc_packages

      - name: Full kit (with GUI)
        run: |
          export KITCREATOR_PKGS="$(awk '{printf "%s ", $0}' .github/workflows/pkgs-gui.txt)"
          ./kitcreator retry ${{env.TCL_TK_VERSION}} --host=${{ env.HOST }} --enable-64bit --enable-tcl-private-headers --enable-kit-storage=cvfs --with-compressed-cvfs
          mv tclkit-${{env.TCL_TK_VERSION}} tclkit-${{env.TCL_TK_VERSION}}-${{env.suffix}}
          echo "$KITCREATOR_PKGS" > tclkit-${{env.TCL_TK_VERSION}}-${{env.suffix}}.kc_packages

      - name: Kit SDK
        env:
          STATICTK: 1
        run: |
          export KITCREATOR_PKGS="$(awk '{printf "%s ", $0}' .github/workflows/pkgs-kitdll.txt)"
          clean_dynamic_tk_pkgs() {
            for pkg in $(ls */build.sh | cut -d/ -f1 | egrep '^(zlib|tk)$'); do
              rm -f  "${pkg}/.success"
              rm -rf "${pkg}/out" "${pkg}/inst" "${pkg}/build"
            done
          }
          clean_dynamic_tk_pkgs
          ./kitcreator retry ${{env.TCL_TK_VERSION}} --host=${{ env.HOST }} --enable-64bit --enable-tcl-private-headers --enable-kit-storage=cvfs --with-compressed-cvfs
          mv libtclkit-sdk-${{env.TCL_TK_VERSION}}.tar.gz libtclkit-sdk-${{env.TCL_TK_VERSION}}-${{env.suffix}}.tar.gz
          echo "$KITCREATOR_PKGS" > libtclkit-sdk-${{env.TCL_TK_VERSION}}-${{env.suffix}}.tar.gz.kc_packages

      - name: Upload logs
        uses: actions/upload-artifact@v4
        with:
          name: kitcreator-linux-${{env.arch}}-logs
          path: |
            **/build.log
            **/config.log
        if: ${{ !cancelled() }}

      - name: Upload kits
        uses: actions/upload-artifact@v4
        with:
          name: kitcreator-linux-${{env.arch}}-kits
          path: |
            tclkitsh-${{env.TCL_TK_VERSION}}-${{env.suffix}}
            tclkit-${{env.TCL_TK_VERSION}}-${{env.suffix}}
            libtclkit-sdk-${{env.TCL_TK_VERSION}}-${{env.suffix}}.tar.gz
        if: ${{ !cancelled() }}

      - name: Upload kit package list
        uses: actions/upload-artifact@v4
        with:
          name: kitcreator-linux-${{env.arch}}-kc_packages
          path: |
            *.kc_packages
        if: ${{ !cancelled() }}
