name: Create release
on:
  workflow_dispatch:
  push:
    tags: [0.*.*, 1.*.*]

jobs:
  build-linux-kits:
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit

  build-windows-kits:
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit

  build-macos-kits:
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit

  create-release:
    runs-on: ubuntu-22.04

    permissions:
      contents: write

    needs:
      - build-linux-kits
      - build-windows-kits
      - build-macos-kits

    steps:
      - uses: actions/checkout@v4
      - name: Download all kits
        uses: actions/download-artifact@v4

      - name: Create release
        run: |
          cp ./kitcreator-linux-x86_64-kits/tclkitsh-*-x86_64-linux-gnu ~/tclkit
          chmod +x ~/tclkit
          ~/tclkit .github/scripts/create-release.tcl \
              ${{ github.api_url }} \
              ${{ github.repository_owner }} \
              ${{ github.event.repository.name }} \
              ${{ github.ref_name }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
